h1 {
	font-family: gangland;
	font-size: 55px;
	text-align: center;
	background-color:white;
	border-radius: 20px;
}



a{
	font-family: gangland;
	font-size: 45px;
	text-decoration: none;
	color:black;
	background-color: white;
	border-radius: 20px;
}

a:hover{
	color:lightblue;
}



p{
	font-family: Homemade Apple;
	font-size: 12px;
	background-color:white;
	border-radius: 20px;
}

p:hover{
	color:pink;
}