<!DOCTYPE html>
<html ng-app="tagModule">
<head> 
	<title>INTRO TO ANGULAR PART TWO</title>
	<link rel = "stylesheet type" = "text/css" href="angularIntroPartTwo.css">
	<script type = "text/javascript" src = "https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.4.8/angular.js">
	</script>
	<script type="text/javascript" src="angularIntroPartTwo.js"> </script>
	<style>
		body{
			background-image: url("http://i.telegraph.co.uk/multimedia/archive/03243/graffiti_3243235b.jpg");
		}
	</style>
</head>


<body>

	<div ng-controller="einsteinGraffiti">

		<h1>{{greeting}}!</h1>

		<a href="http://i.telegraph.co.uk/multimedia/archive/03243/graffiti_3243235b.jpg" target="blank" ng-click="linkOne()" ng-if="showThis">gangsta ipsum</a>

		<p>
			Lorizzle ipsum izzle amet, dang adipiscing elit. Break it down sapizzle velizzle, sizzle volutpizzle, suscipizzle sheezy, gravida vel, funky fresh. Pellentesque tortor. Sizzle eros. Da bomb izzle dolor dapibus turpis tempizzle you son of a bizzle. Mauris stuff pizzle et funky fresh. Gangsta izzle ass. Yo mamma eleifend phat cool. In hac habitasse sizzle dictumst. Pizzle things. Curabitur tellus things, pretizzle shiznit, mattizzle izzle, you son of a bizzle vitae, nunc. Gangsta suscipizzle. Integer nizzle velit shit daahng dawg.
		</p>

		<a href="http://i.telegraph.co.uk/multimedia/archive/03243/graffiti_3243235b.jpg" target="blank" ng-click="linkTwo()" ng-if="showThat">gangsta ipsum</a>

		<p>
			Vivamizzle bow wow wow maurizzle away nisi that's the shizzle shizzlin dizzle. Gangster sit boom shackalack lacizzle. Ma nizzle eu nisl egizzle lacus auctizzle rizzle. Break it down suscipit da bomb mammasay mammasa mamma oo sa. Curabitizzle the bizzle for sure. Vestibulum enim enizzle, auctizzle gangster, congue sure, fo shizzle nizzle, the bizzle. Nullam vitae dizzle shiznit eros fo shizzle mah nizzle fo rizzle, mah home g-dizzle dizzle. Quisque pede tortizzle, congue check out this, ghetto a, mollis sizzle amet, erizzle. Izzle crazy dui. Aliquizzle risizzle purizzle, its fo rizzle consectetizzle, the bizzle things, consequizzle imperdiet, nizzle. Quisque a ipsum eu mi its fo rizzle pimpin'. Ghetto bizzle sagittis ipsizzle. Check out this shizzlin dizzle gangsta tristique yo izzle sizzle izzle nizzle famizzle ac turpis stuff. In est. Bizzle fo shizzle. Ut fo shizzle felis, for sure quis, suscipit mah nizzle, porta pulvinar, that's the shizzle. Nulla shiznit gravida the bizzle.
		</p>
		<p>
			Dizzle my shizz dolizzle. Black magna yo, dignissizzle sizzle amet, shizzlin dizzle egizzle, sollicitudizzle nizzle, tortor. Maecenizzle a nisi. Yo nizzle neque izzle risizzle. Suspendisse erat. Shizznit dizzle tristique turpis. Suspendisse i'm in the shizzle hizzle purus. Sed dolor libero, boofron interdum, bizzle izzle, own yo' izzle, funky fresh. Suspendisse sizzle rizzle. Ghetto aliquam lectus sizzle amet gangsta. Fusce dapibizzle fo shizzle mah nizzle fo rizzle, mah home g-dizzle izzle arcu. Lorizzle ipsum dolizzle sit amizzle, consectetuer adipiscing fo shizzle. Suspendisse uhuh ... yih! purizzle, fo shizzle my nizzle laoreet, ullamcorper izzle, boom shackalack nizzle, elit. Nizzle porta rutrum pizzle.
		</p>

	</div>


</body>



</html>